body {
	height: 100vh;
	background-image: url('http://www.turismoblumenau.com.br/uploads/cidade/1200x768-20170220164624-Vila%20Germ%C3%A2nica%20-%20Daniel%20Zimmermann%20(2).jpg');
	background-size: cover;
}
