body {
	height: 96vh;
	background-image: url('https://image.freepik.com/fotos-gratis/homem-jovem-em-sportswear-um-classe-exercicio-em-um-ginasio_1150-12372.jpg');
	background-size: cover;
	width: 1000px;
	height: 388px;
}
h1 {
	font-size: 36px;
	color: #80ffff;
	padding: 2px 0 10px 0;
	font-family: Arial,sans-serif;
	font-weight: bold;
	text-align: center;
	padding-bottom: 0px;
}
.row {
	flex-wrap: wrap;
	margin-right: -113px;
}
